*{padding: 0%;
margin: 0%;}

html
{font-size: 62.5%;}



a{text-decoration: none;}

.fondo{
text-align: center;
}

.venta{
position: absolute;
top: 10px;
left: 10px;  
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
font-size: 5rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color:burlywood;
}

.fondo img{
    width: 100%;
}


body{background-color: cornflowerblue;}

/*header {background-color:aqua;
padding: 1rem;}*/

/* ul li{
list-style-type: none;
font-size:2rem;
display:inline-block;
text-align:center;
margin: 1rem 10rem 1rem 10rem;
color: white;
} */

a{color: black;
text-decoration:none;}

.redes{
text-align: center;
font-size: larger;
position: absolute; 
left: 50%;
transform: translate(-50%);
font-size: 5rem;
}

.Servicios{
list-style-type: none;
font-size:2rem;
display:inline-block;
text-align:center;
margin: 1rem 10rem 1rem 10rem;
color: white;
}

.contacto{
margin: 1rem 25rem 1rem 25rem;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
color:aqua;
font-size: 2rem;
}

.ubicacion{
margin: 1rem 20rem 1rem 20rem;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: aqua;
font-size: 3rem;
margin-top: 2rem;
}

.seguinos{
margin: 1rem 20rem 1rem 20rem;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: aqua;
font-size: 3rem;
margin-top: 2rem;
}

.conocenos{
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
color: aqua;
font-size: 3rem;
margin-top: 2rem;
}

.productos{
height: auto;
width: auto;
display:flex;
justify-content:center;
}

img{
height: 30rem;
width: 30rem;
object-fit: cover;
}



@media(min-width:768px){
    .nav-custom{
    min-height: 50px;
    height: 140px;}
    
}
.margintop {
    margin-top: 40px;
}

@media(max-width:768){
    .contacto{
        margin: none;
    }
    .ubicacion{
        margin: none;
    }
}

/* .col{
    color: aqua;
    font-size: 50px;
} */
