* {
  padding: 0%;
  margin: 0%;
}

html {
  font-size: 62.5%;
}

body {
  background-color: cornflowerblue;
}

body {
  background-image: url("../img/fondo.jpg");
  background-size: cover;
  margin-bottom: 50px;
  background-attachment: fixed;
}

.nav-item {
  margin-left: 20px;
}

.logo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  left: 100px;
  top: 1px;
}

.fondo img {
  width: 100%;
  height: 100%;
}

footer {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0px;
}

html {
  min-height: 100%;
  position: relative;
}

.whatsapp {
  width: 30px;
  height: 30px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 100;
  background-color: green !important;
  border-radius: 15px;
}
.whatsapp a {
  color: white !important;
}

.fondo {
  text-align: center;
}

.col p {
  font-size: 40px;
  color: white !important;
  font-style: oblique;
}

.venta {
  position: absolute;
  top: 10px;
  left: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 100px;
}

a {
  color: aqua !important;
  text-decoration: none;
}

.redes {
  text-align: center;
  font-size: larger;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 60px;
}
.redes a {
  color: white !important;
  font-size: px;
}

.Servicios {
  list-style-type: none;
  font-size: 2rem;
  display: inline-block;
  text-align: center;
  margin: 1rem 10rem 1rem 10rem;
  color: white;
}

.contacto {
  margin: 1rem 25rem 1rem 25rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: white;
  font-size: 20px;
}

@media (max-width: 768px) {
  .contacto {
    margin: 1rem 25rem 1rem 25rem;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.ubicacion {
  margin: 1rem 20rem 1rem 20rem;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin-top: 2rem;
}

@media (max-width: 768px) {
  .ubicacion {
    margin: 1rem 20rem 1rem 20rem;
    text-align: center;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    font-size: 20px;
    margin-top: 2rem;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.conocenos {
  text-align: center;
  font-size: 30px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0.5) !important;
  border-radius: 20px;
  margin-top: 80px;
  margin-left: 160px;
  margin-right: 160px;
}

@media (max-width: 768px) {
  .conocenos {
    text-align: center;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5) !important;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.servi {
  list-style-type: none;
  font-size: 30px;
  margin-top: 20px;
  margin-left: 150px;
  text-align: center;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.servi:hover {
  transform: scale(1.5);
  transition-property: all;
  transition-duration: 4s;
}

@media (max-width: 768px) {
  .servi {
    list-style-type: none;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.8) !important;
  }
}
.productos {
  height: auto;
  width: auto;
  display: flex;
  justify-content: center;
}

img {
  height: 30rem;
  width: 30rem;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 10px;
  border-color: white;
  border-style: double;
}

img:hover {
  transform: scale(1.1);
  transition-duration: 3s;
  transition-property: all;
}

@media (min-width: 768px) {
  .nav-custom {
    height: 150px;
    font-size: 30px;
    color: aqua !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
}
.margintop {
  margin-top: 40px;
}

@media (max-width: 768) {
  .contacto {
    margin: none;
  }
  .ubicacion {
    margin: none;
  }
}/*# sourceMappingURL=styles.css.map */